body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}
button {
  cursor: pointer;
}
img {
  display: block;
}
h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
}
h2,
h3 {
  color: #2e2f42;
}
h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.header {
  border-bottom: 1px solid #e7e9fc;
  display: flex;
  justify-content: space-between;
}
.header-nav {
  display: flex;
  align-items: center;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.header-item-list {
  padding-right: 40px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.logo {
  margin-right: 76px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo-style-header {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}
.header-nav-item {
  display: flex;
  gap: 40px;
}
.header-item-list:hover,
.header-item-list:focus {
  color: #404bbf;
}
.header-list-item {
  padding: 24px 0;
}
.header-address {
  font-style: normal;
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.header-nav-address {
  display: flex;
  gap: 40px;
}
.address {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.address:hover,
.address:focus {
  color: #404bbf;
}
.hero {
  background: #2e2f42;
  padding: 188px 0;
}
.hero-title {
  color: #ffffff;
  max-width: 496px;
}
.hero-btn {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  display: block;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  cursor: pointer;
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}
.sec-our-team {
  background-color: #f4f4fd;
}
.our-team-title {
  text-align: center;
  text-transform: capitalize;
}
.sec-our-name {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.sec-our-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}
.sec-our-ul {
  background-color: #ffffff;
}

.sec-our-li {
  background-color: #ffffff;
}
.portfolio {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}
.sec-portfolio-title {
  margin-bottom: 72px;
  text-align: center;
  text-transform: capitalize;
}
.sec-portfolio-ul {
  background-color: #f4f4fd;
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.sec-portfolio-li {
  background-color: #ffffff;
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  width: calc((100% - 48px) / 3);
}
.strange-div {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.sec-portfolio-name {
  margin-bottom: 8px;
}
.footer {
  background: #2e2f42;
  padding: 100px 0;
}
.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
  padding-right: 76;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo-style-footer {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}
.footer-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}
